header {
  grid-area: header-upper;
  background-color: #ffffff;
  display: -ms-grid;
  display: grid;
  height: 64px;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-areas: "logo left right";
  -ms-grid-columns: 20% 60% 20%;
  grid-template-columns: 20% 60% 20%;
}

nav {
  display: none;
}

.logo {
  -ms-grid-row: 1;
  grid-column: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  color: #353942;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.left-header {
  font-size: 16px;
  -ms-grid-row: 1;
  grid-column: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-area: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 27% 73%;
  grid-template-columns: 27% 73%;
}

.left-header ul {
  grid-area: menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  list-style-type: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
}

.left-header ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1e99c7;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  border: none;
  background-color: transparent;
  padding: 0 16px;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.left-header ul a:hover {
  color: #353942;
}

.left-header ul a.active {
  outline: none;
  color: #353942;
}

.right-header {
  -ms-grid-row: 1;
  grid-column: 3;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.right-header-join {
  color: #353942;
  font-size: 16px;
  font-weight: 700;
  border: none;
  margin-right: 15px;
  outline: none;
  margin-left: 15px;
  border: 1px solid #1e99c7;
  border-radius: 3px;
  background: transparent;
  padding: 5px 20px 5px 20px;
}

input[type="text"] {
  border: none;
  outline: none;
  padding-right: 20px;
  background-image: url(../../images/Vector.svg);
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  header {
    -ms-grid-rows: 64px;
    grid-template-rows: 64px;
    -ms-grid-columns: 20% 80%;
    grid-template-columns: 20% 80%;
    grid-template-areas: "nav right";
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-grid-row: 1;
    grid-column: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-area: nav;
  }
  .logo {
    display: none;
  }
  #menuToggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #0c79a2;
    position: relative;
    top: 0;
    left: 15%;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #menuToggle a {
    text-decoration: none;
    color: #232323;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover {
    color: tomato;
  }
  #menuToggle input {
    display: block;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 33px;
    height: 22px;
    position: absolute;
    top: 14px;
    left: 8px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle input:checked {
    display: block;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 14px;
    left: 390px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    display: block;
    width: 33px;
    height: 4px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease,
      -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease,
      -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
      -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menuToggle span + span {
    margin-top: 5px;
  }
  #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    position: absolute;
    left: 440px;
    -webkit-transform: rotate(45deg) translate(-40px, 29px);
    transform: rotate(45deg) translate(-40px, 29px);
    background: #ffffff;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    position: absolute;
    left: 440px;
    -webkit-transform: rotate(-45deg) translate(-39px, -30px);
    transform: rotate(-45deg) translate(-39px, -30px);
  }
  #menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 90px 60px 0px 60px;
    color: #ffffff;
    background: #353942;
    -webkit-box-shadow: 0px 2px 6px rgba(45, 40, 94, 0.06);
    box-shadow: 0px 2px 6px rgba(45, 40, 94, 0.06);
    border-radius: 3px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 40px;
    font-size: 16px;
  }
  h2::after {
    content: "";
    margin-top: 10px;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
  }
  #menu li {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #menu li a {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
  }
  #menuToggle input:checked ~ ul {
    -webkit-transform: none;
    transform: none;
  }
  .left-header {
    display: none;
  }
}
/*# sourceMappingURL=Header.css.map */
