html,
body {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #1e99c7;
  background-color: #f4f7fb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
li {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 64px auto;
  grid-template-areas: "header-upper header-upper" "menu content";
}

@media (max-width: 576px) {
  .container {
    width: 100vw;
    grid-template-columns: 100vw;
    grid-template-rows: 64px auto;
    grid-template-areas: "header-upper" "content";
  }
}
